@import url(import-fonts.css);

html {
    height: 100%;
    width: 100%;
    background: #FFF;
}

ul {
    list-style: none;
}

.top-nav {
    background: #efefef;
}

.top-nav a {
    color: #000;
}

.sign-in {
    color: #000;
    background: #5fc2ba44;
}

.user-menu {
    background: #5fc2ba44;
}

.user-menu a {
    color: #000;
}

.top-nav::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 99%;
    height: 1px;
    background: #000;

    margin-top: 60px;
}

.article-container {
    display: flex;
    flex-direction: column;

    background: #0b162b;
    width: 99%;
    height: 2000px;

    margin-left: 50%;
    transform: translate(-50%);
    padding-bottom: 90px;

    border-radius: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.article {
    display: flex;
    margin-top: 30px;
}

.img-nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}

.displayed-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/12;
}

.img-nav .nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 40px;
}

.img-nav .nav ul li {
    display: flex;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border: #efefef 1px solid;
}

.img-nav .nav ul li img {
    width: 100%;
    height: 100%;
}

.img-nav .nav ul li button {
    border: none;
    background: none;
}

.img-nav .nav ul li button:hover {
    cursor: pointer;
}

.txt-container {
    font-family: 'Cabin';
    letter-spacing: .5px;
    color: #FFF;

    width: 50%;

    margin-top: 20px;
    margin-right: 20px;

    background: #0f1e3b;
    padding: 15px;
}

.title {
    font-size: 40px;
}

.description {
    margin-top: 20px;
    font-size: 17px;
}

.interaction-nav {
    width: 48%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
}

.interaction-nav .nav {
    width: 55%;
}

.interaction-nav .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.interaction-nav .nav ul li button {
    background: none;
    border: none;
    width: 100%;
    font-size: 30px;
    color: #FFF;
}

button:hover {
    cursor: pointer;
}

.glow {
    box-shadow: 0px 5px 10px -5px #FFF;
}

.comment-section {
    position:fixed;
    z-index: 999;

    top: 0;
    right: 0;

    height: 100%;
    width: 30%;

    background: #efefef;
    font-family: 'Cabin';

    overflow-y: auto;
    overflow-x:hidden;

    transform-origin: right;
    transition: all 300ms ease;
}

.comment {
    background: rgb(223, 223, 223);
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 40px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    font-size: 25px;
    background: none;
    border: none;
}

.comment .username {
    font-size: 16px;
    letter-spacing: .75px;
    color: rgb(47, 47, 47);
}

.comment .comment-content {
    letter-spacing: .25px;
    margin-top: 10px;
    width: 95%;
}

.comment .comment-user-interaction {
    display: flex;
    position: absolute;
    right: 0;
}

.comment .comment-user-interaction button {
    background: none;
    border: none;
    margin: 10px;
}

.comment .comment-user-interaction button i {
    font-size: 18px;
}