@import url(import-fonts.css);

html {
    height: 100%;
    width: 100%;
    background: #FFF;
}

ul {
    list-style: none;
}

.top-nav {
    background: #0b162b;
}

/* .top-nav {
    background: #efefef;
}

.top-nav a {
    color: #000;
}

.sign-in {
    color: #000;
    background: #5fc2ba30;
}

.user-menu {
    background: #5fc2ba30;
}

.user-menu a {
    color: #000;
}
*/
.top-nav::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 94%;
    height: 1px;
    background: #FFF;

    margin-top: 60px;
} 

.article-container {
    display: flex;
    flex-direction: column;

    background: #0b162b;

    width: 100%;
    height: auto;
}

.article {
    display: flex;
    width: 100%;
    height: auto;
}

.img-nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}

.displayed-img {
    width: 100%;
    height: 450px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayed-img img {
    height: 100%;
    width: auto;
}

.img-nav .nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 40px;
}

.img-nav .nav ul li {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border: #efefef 1px solid;
}

.img-nav .nav ul li img {
    width: 100%;
    height: 100%;
}

.img-nav .nav ul li button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.img-nav .nav ul li button:hover {
    cursor: pointer;
}

.txt-container {
    font-family: 'Cabin';
    letter-spacing: .5px;
    color: #FFF;

    width: 50%;
    height: 710px;

    margin-top: 20px;
    margin-right: 20px;

    background: #0f1e3b;
    padding: 15px;
}

.title {
    font-size: 40px;
}

.description {
    margin-top: 20px;
    font-size: 17px;
}



.article-content-main {
    width: 100%;
    min-height: 300px;

    margin-top: 50px;
    margin-bottom: 50px;
    background: #0f1e3b;
}




.interaction-nav {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 999;
}

.interaction-nav .nav {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: #18305f 0 0 100px 10px;
    border: #18305f 1.8px solid;
}

.interaction-nav .nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.interaction-nav .nav ul li button {
    background: none;
    border: none;
    width: 100%;
    height: 75px;
    font-size: 30px;
    color: #FFF;
}

button:hover {
    cursor: pointer;
}

.glow {
    box-shadow: 0px 5px 10px -5px #FFF;
}

.comment-section {
    position:fixed;
    z-index: 999;
    display: none;

    top: 0;
    right: 0;

    height: 100%;
    width: 30%;

    background: #111111;
    font-family: 'Cabin';

    overflow-y: auto;
    overflow-x:hidden;

    transform-origin: right;
    transition: all 300ms ease;
}

.comment {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 40px;
}

.close {
    position: fixed;
    right: 3px;
    top: -3px;
    padding: 3px;
    font-size: 25px;
    background: none;
    border: none;
    color: #FFF;
}

.comment .username {
    font-size: 16px;
    letter-spacing: .75px;
    color: rgb(188, 188, 188);
}

.comment .comment-content {
    letter-spacing: .25px;
    margin-top: 10px;
    width: 95%;
    color: #FFF;
}

.comment .comment-user-interaction {
    display: flex;
    position: absolute;
    right: 0;
}

.comment .comment-user-interaction button {
    background: none;
    border: none;
    margin: 10px;
}

.comment .comment-user-interaction button i {
    font-size: 18px;
    color: #FFF;
}


.comment-section {
scrollbar-width: auto;
scrollbar-color: #b3b3b3 #ffffff;
}

.comment-section::-webkit-scrollbar {
width: 5px;
}

.comment-section::-webkit-scrollbar-track {
    background: none;
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
}

.content-txt {
    height: auto;
    width: 100%;
}


@media (max-width: 700px) {
    .article {
        flex-direction: column;
        align-items: center;
    }

    .txt-container {
        width: 80%;
    }

    .img-nav {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .article {
        flex-direction: column;
        align-items: baseline;
        margin: none;
    }
    
    .txt-container {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        padding: 0;
    }

    .img-nav {
        width: 100%;
        margin: 0;
    }
}