@import url(import-fonts.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.top-nav {
    border-bottom: #F5CB5C 1px solid;
    box-shadow: #F5CB5C 0 0 50px -10px;
    background: #0b162c;
}

.explorer-container {
    width: 100%;
    margin-top: 40px;
}

.gallery {
    overflow: hidden;
    outline: none;
    border: none;
    background: none;

    height: 85vh;
    margin-bottom: 50px;
    letter-spacing: 0;
}

.gallery-cell {
    width: 90%;
    height: 85vh;
    margin-right: 30px;
    counter-increment: gallery-cell;
    display: flex;
    font-family: 'Cabin';
    background: #0b162c;
    border-radius: 5px;
}

.img-container {
    width: 120%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.img-container div {
    width: 95%;
    height: 95%;
    grid-gap: 5%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c2942;
}

.img-container div:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
}

.img-container div:nth-child(2) {
    grid-area: 1 / 4 / 4 / 6;
}

.img-container div:nth-child(3) {
    grid-area: 4 / 1 / 7 / 3;
}

.img-container div:nth-child(4) {
    grid-area: 4 / 3 / 7 / 6;
}

/*Others img*/

.img-container div:nth-child(5) {
    grid-area: 7 / 1 / 8 / 2;
}

.img-container div:nth-child(6) {
    grid-area: 7 / 2 / 8 / 3;
}

.img-container div:nth-child(7) {
    grid-area: 7 / 3 / 8 / 4;
}

.img-container div:nth-child(8) {
    grid-area: 7 / 4 / 8 / 5;
}

.img-container div:nth-child(9) {
    grid-area: 7 / 5 / 8 / 6;
}

.img-container img {
    aspect-ratio: auto;
}

.img-container {
scrollbar-width: auto;
scrollbar-color: #b3b3b3 #ffffff;
}

.img-container::-webkit-scrollbar {
width: 5px;
}

.img-container::-webkit-scrollbar-track {
background: none;
}

.img-container::-webkit-scrollbar-thumb {
background-color: #b3b3b3;
border-radius: 10px;
}

.text {
    width: 50%;
    overflow-y: auto;
    overflow-x:hidden;
    background: #1c2942;
}

.text {
scrollbar-width: auto;
scrollbar-color: #b3b3b3 #ffffff;
}

.text::-webkit-scrollbar {
width: 5px;
}

.text::-webkit-scrollbar-track {
background: none;
}

.text::-webkit-scrollbar-thumb {
background-color: #b3b3b3;
border-radius: 10px;
}

.gallery-cell h1 {
    font-size: 25px;
    color: #FFF;
    padding: 20px;
    font-family: 'Mulish';
}

.gallery-cell p {
    font-size: 20px;
    color: #FFF;
    padding: 20px;
    letter-spacing: .5px;
}

