@import url(import-fonts.css);

.top-nav {
    position: relative;
}

html {
    height: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;

    background: #0b162c;
    background: linear-gradient(0deg, #0b162c 10%, #1c2942 90%);
    width: 90%;
    height: 1000px;

    margin-top: 70px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
}

.card {
    background: red;
    width: 90%;
    height: 300px;

    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}