@import url(import-fonts.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(100%);
    }
}

@keyframes welcomCodeDisplay {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.top-nav::after {
    height: 0;
    width: 0;
}

.top-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #0b162c 10%, #1c2942 90%);
}

.top-page header {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.shadow {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    box-shadow: #80398f 300px 900px 1000px 200px;
    z-index: 999;
}

.shadow:nth-child(5) {
    top: 0;
    left: 0;
    box-shadow: #33188f -200px -50px 200px 200px;
    z-index: 0;
}

.shadow:nth-child(7) {
    top: 0;
    left: right;
    box-shadow: #33188f 400px 100px 1000px 200px;
    z-index: 0;
}

.top-nav {
    background: none;
    z-index: 999;
}

.main-title-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.title {
    padding-bottom: 65px;
    padding-left: 10px;
}

.logo {
    width: 400px;
}

.catchword {
    font-family: 'Poppins';
    color: #FFF;

    font-size: 40px;
    padding-left: 10px;
}

.catchword::before {
    content: '•';
    padding-right: 10px;
}

#discover-interaction {
    position: absolute;
    background: linear-gradient(50deg, rgba(95,194,186,.2) 25%, rgba(61,122,117,.2) 82%);
    border: #647799 2px solid;

    width: 280px;
    height: 85px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 5px;
    color: #FFF;
    font-family: 'Mulish';
    font-size: 30px;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: capitalize;
}

.top-page::after {
    content: "";
    position: absolute;
    background: #FFF;
    width: 100%;
    height: 500px;
    margin-top: -60px;
}

.contents-page {
    width: 100%;
    margin-top: 100px;
}

.article-display {
    width: 100%;
    height: auto;

    background: #0b162c;

    color: #e8eddf;
    letter-spacing: 3px;

    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-display .big-title {
    font-family: 'Mulish';
    letter-spacing: .2px;
    font-size: 25px;

    margin-bottom: 10px;
    margin-left: 95px;
    margin-top: 50px;
}

.gallery {
    position: relative;

    overflow: hidden;
    outline: none;
    border: none;
    background: none;

    height: 400px;
    letter-spacing: 0;
}

.gallery-cell {
    width: 90%;
    margin-right: 30px;
    counter-increment: gallery-cell;
    display: flex;
    font-family: 'Cabin';
    background: #131f36;
    border-radius: 5px;
}

.img-container {
    width: 50%;
    height: 400px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    aspect-ratio: auto;
}

.gallery-cell h1 {
    font-size: 25px;
    color: #FFF;
    padding: 20px;
    font-family: 'Mulish';
}

.gallery-cell p {
    font-size: 20px;
    color: #FFF;
    padding: 20px;
    letter-spacing: .5px;
}
