.title {
    margin-left: 30px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.1em;
    min-width: 40%;
    height: 1.5em;

}

.description {
    font-size: 1em;
    font-weight: normal;
    margin-left: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.1em;
    min-width: 40%;
    height: 1.5em;
}

.content {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 20em;
    max-height: 30em;

}

.tags {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 30px;
    padding: 0.1em;
}

.image {
    font-size: 1em;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
}

.submit {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
    background-color: #3ab53a;
    margin-left: 30px;
}

.submit:hover {
    background-color: #2e8a2e;
}

.submit:active {
    background-color: #1f5f1f;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    width: 100%;
}