html {
    background: #F9968B;
    background: #F27438;
    background: #26474E;
    background: #76CDCD;
    background: #2CCED2;
    background: #430C05;
    background: #D46F4D;
    background: #FFBF66;
    background: #00353F;
    background: #FFF;
}

* {
    margin: 0;
    padding: 0;
}

.top-page {
    width: 100%;
}

.nav-logo {
    width: 70px;
}